#work-frame {
	background: url("../../assets/images/work-frame.png") center bottom no-repeat;
}

#structure-simulations {
	background: #fff url("../../assets/images/structure.png") 50% 80%/80%
		no-repeat;
}
#energy-simulations {
	background: #fff url("../../assets/images/energy-consumption.png") 50% 80%/80%
		no-repeat;
}
#ieq-simulations {
	background: #fff url("../../assets/images/comfort.png") 50% 80%/80% no-repeat;
}
