#header__hero {
	background: url("../../assets/images/header-image.png") center/contain
		no-repeat;
}

#structure-simulations {
	background: #fff url("../../assets/images/structure.png") center/cover
		no-repeat;
}
#energy-simulations {
	background: #fff url("../../assets/images/energy.png") center/cover no-repeat;
}
#ieq-simulations {
	background: #fff url("../../assets/images/ieq.png") center/cover no-repeat;
}
